extends layout.pug

block title
	title Craft Africa - Edit Containers

block header
	h3 Beer Types
	br
	title Modify beer types

block vars
	- var title = "Modify beer types"


block content
	each beertype in beertypes
		form.container(method="post" action="/admin/beertype")
			.card
				.card-title
					h4(style="padding: 10px 15px")= beertype.name
				.card-content
					.row
						.input-field.col.s3
							input#name.validate(type='text', name="name",required,value=beertype.name)
							label(for='name') Name
						.input-field.col.s3
							input#type.validate(type='number',name="type",required,value=beertype.fermenting)
							label(for='fermentingTime') Fermenting Time
						.input-field.col.s3
							input#price.validate(type='number',name="hopsUse",required,value=beertype.ingrediensUsage.hops)
							label(for='hopsUse') Hops(%)
						.input-field.col.s3
							input#size.validate(type='number',name="maltUse",required,value=beertype.ingrediensUsage.malt)
							label(for='maltUse') Malt(%)
						.input-field.col.s3
							input#size.validate(type='number',name="co2Use",required,value=beertype.ingrediensUsage.co2)
							label(for='co2Use') co2(%)
						input.btn.remove.red.right(type="submit" value = "remove", style="margin-right: 10px")
						input.btn.save.blue.right(type="submit" value = "save", style="margin-right:10px")
						input(type="hidden" name="id" value=beertype._id)
						input(type="hidden" name="status" value="unchanged")
	form(method="post" class="addRow" action="/admin/beertype/new")
		input.btn.left(type="button" id="add" value = "add new container")
		br
		br
		input.btn-large.left(type="submit"  name="submit" value="submit")
		
	

				
	
block scripts
	script(src="/js/adminCont.js")