extends layout.pug

block title
	title Modify beer types

block vars
	- var title = "Modify beer types"

block content
	form(method="post" action="/admin/beer" style="padding: 10px 40px 20px 10px")
			.card
				.card-content
					span.card-title Ingredient cost
					.defaultCostIngredients
						input(type="text" required class="textbox number" name="hops"  placeholder='Hops ($)' value=ingredientCost.hops)
						input(type="text" required class="textbox number" name="barley" placeholder='Barley ($)' value=ingredientCost.barley)
						input(type="text" required class="textbox number" name="co2" placeholder='CO2 ($)' value=ingredientCost.co2)
						input(type="text" required class="textbox number" name="water" placeholder='Water ($)' value=ingredientCost.water)
						input(type="hidden" name="id" value='beer._id')
						input(type="hidden" name="status" value="unchanged")

			.card
				.card-content
					span.card-title Default Distribution (%)
					.defaultDistributionValues
					input(type="text" required class="textbox number" name="tapDist" placeholder='Tap (%)' value=defaultDistribution.tapDist)
					input(type="text" required class="textbox number" name="bottleDist" placeholder='Bottle (%)' value=defaultDistribution.bottleDist)
					input(type="text" required class="textbox number" name="kegDist" placeholder='Keg (%)' value=defaultDistribution.kegDist)
					input(type="hidden" name="id" value='beer._id')
					input(type="hidden" name="status" value="unchanged")

			.card
				.card-content
					span.card-title Default Threshhold for Activating Bottle/Keg Containers
					.defaultThreshhold
					input(type="text" required class="textbox number" name="bottleThresh"  placeholder='Bottle' value=defaultThreshold.bottleThresh)
					input(type="text" required class="textbox number" name="kegThresh"  placeholder='Keg' value=defaultThreshold.kegThresh)

			.card
				.card-content
					span.card-title Default Cost (per unit)
					.defaultCostValues
						input(type="text" required class="textbox number" name="tapCost"  placeholder='Tap ($)' value=defaultCost.tapCost)
						input(type="text" required class="textbox number" name="bottleCost"  placeholder='Bottle ($)' value=defaultCost.bottleCost)
						input(type="text" required class="textbox number" name="kegCost" placeholder='Keg ($)' value=defaultCost.kegCost)
						input(type="hidden" name="id" value='beer._id')
						input(type="hidden" name="status" value="unchanged")


			.card
				.card-content
					span.card-title Start Value for Production
					.defaultStartValueForProduction
						input(type="text" required class="textbox number" name="startValueForProduction"  placeholder='$' value=startValueForProduction)
						input(type="hidden" name="id" value='beer._id')
						input(type="hidden" name="status" value="unchanged")

			br
			input.btn.right.blue(type="submit" disabled=false name="submit" value="Submit")
			br
			br
			br
	
block scripts
	script(src="/js/adminBeer.js")