extends layout.pug

block title
	title Craft Africa - Edit Containers

block vars
	- var title = "Modify beer types"
	
block content
	each value in values
		form.container(method="post" action="/admin/beertype")
			.card
				.card-title
					h4(style="padding: 10px 15px")= value.name
				.card-content
					.row
						.input-field.col.s3
							input.validate(type='text', name="name",required,value=value.name)
							label(for='name') Name
						.input-field.col.s3
							input.validate(type='number',name="fermentingTime",required,value=value.fermentingTime)
							label(for='fermentingTime') Fermenting Time
						.input-field.col.s3
							input.validate(type='number',name="hops",required,value=value.ingredient.hops)
							label(for='hopsUse') Hops(%)
						.input-field.col.s3
							input.validate(type='number',name="malt",required,value=value.ingredient.malt)
							label(for='maltUse') Malt(%)
						.input-field.col.s3
							input.validate(type='number',name="co2",required,value=value.ingredient.co2)
							label(for='co2Use') co2(%)
						input.btn.remove.red.right(type="submit" value = "remove", style="margin-right: 10px")
						input.btn.save.blue.right(type="submit" value = "save", style="margin-right:10px")
						input(type="hidden" name="id" value=value._id)
						input(type="hidden" name="status" value="unchanged")
	form(method="post" class="addRow" action="/admin/beertype/new")
		input.btn.left(type="button" id="addBeer" value = "add new beertype")
		br
		br
		input.btn-large.left(type="submit"  name="submit" value="submit")
		
	

				
block scripts
	script(src="/js/adminBeertype.js")