extends layout.pug

block title
	title Craft Africa - Edit Containers

block vars
	- var title = "Modify beer types"
	
block content
	each value in values
		form.container(method="post" action="/admin/beertype")
			.card
				.card-title
					h4= value.name
				.card-content
					.row
						.input-field.col.s3
							input.validate(type='text' name="name" required value=value.name)
							label(for='name') Name
						.input-field.col.s3
							input.validate(type='number' name="fermentingTime" step="any" required value=value.fermentingTime)
							label(for='fermentingTime') Fermenting Time
						.input-field.col.s3
							input.validate(type='number' name="hops" step="any" required value=value.ingredient.hops)
							label(for='hopsUse') Hops (kg/l)
						.input-field.col.s3
							input.validate(type='number' name="malt" step="any" required value=value.ingredient.malt)
							label(for='maltUse') Malt (kg/l)
						.input-field.col.s3
							input.validate(type='number' name="co2" step="any" required value=value.ingredient.co2)
							label(for='co2Use') co2(%)
						//input.btn.remove.red.right(type="submit" value = "remove", style="margin-right: 10px")
						input.enable.btn.red.right(type="button" data-target=`modal${index}` value = "remove" style="margin-right: 10px")
						div(class="modal" id=`modal${index}`)
							.modal-content
								h4 Confirm
								p= "Are you sure you want to delete '" + value.name + "'?"
							.modal-footer
								input.remove.waves-effect.waves-green.btn-flat(type="submit" disabled value="Yes")
								input.modal-action.modal-close.waves-effect.waves-green.btn-flat(type="button" value="No")
						input.btn.save.blue.right(type="submit" value = "save", style="margin-right:10px")
						input(type="hidden" name="id" value=value._id)
						input(type="hidden" name="status" value="unchanged")
	form(method="post" class="addRow container" action="/admin/beertype/new")
		input.btn-large.left(type="button" id="addBeer" value = "Add")
		input.btn-large.left(type="submit"  name="submit" value="submit")
		
				
block scripts
	script(src="/js/adminBeertype.js")