extends layout.pug

block title
	title Craft Africa - Edit Containers

block header
	h3 Edit Containers
	br

block content
	each container, index in containers
		form.container(method="post" action="/admin/containers")
			.card
				.card-title
					h4(style="padding: 10px 15px")= container.name
				.card-content
					.row
						.input-field.col.s3
							input#name.validate(type='text' name="name" value=container.name)
							label(for='name') Name
						.input-field.col.s3
							input#type.validate(type='text' name="type" required,value=container.type)
							label(for='type') Type
						.input-field.col.s3
							input#price.validate(type='number' name="price" required,value=container.price)
							label(for='price') Price
						.input-field.col.s3
							input#size.validate(type='number' name="size" required value=container.size)
							label(for='size') Size
						input.btn.remove.red.right(type="submit" value = "remove" style="margin-right: 10px")
						input.btn.save.blue.right(type="submit" value = "save" style="margin-right:10px")
						input(type="hidden" name="id" value=container._id)
						input(type="hidden" name="status" value="unchanged")
	form(method="post" class="addRow" action="/admin/containers/new")
		input.btn.left(type="button" id="add" value = "add new container")
		br
		br
		input.btn-large.left(type="submit"  name="submit" value="submit")
				
	
block scripts
	script(src="/js/adminCont.js")