extends layout.pug


block vars
	- var title = "Modify containers"

block title
	title Modify containers


block content
	each container, index in containers
		form.container(method="post" action="/admin/containers")
			.card
				.card-title
					h4(style="padding: 10px 15px")= container.name
				.card-content
					.row
						.input-field.col.s3
							input.validate(type='text' name="name" required value=container.name)
							label(for='name') Name
						.input-field.col.s3
							input.validate(type='text' name="type" required value=container.type)
							label(for='type') Type
						.input-field.col.s3
							input.validate(type='number' name="series" required value=container.series)
							label(for='series') Series
						.input-field.col.s3
							input.validate(type='number' name="price" required value=container.price)
							label(for='price') Price
						.input-field.col.s3
							input.validate(type='number' name="fermentingCapacity" required value=container.fermentingCapacity)
							label(for='fermentingCapacity') Fermenting Capacity
						.input-field.col.s3
							input.validate(type='number' name="storageCapacity" required value=container.storageCapacity)
							label(for='storageCapacity') Storage Capacity
						.input-field.col.s3
							input.validate(type='number' name="brewingCapacity" required value=container.brewingCapacity)
							label(for='brewingCapacity') Brewing Capacity
						.input-field.col.s3
							input.validate(type='number' name="waterProduction" required value=container.waterProduction)
							label(for='waterProduction') Water Production
						.input-field.col.s3
							input.validate(type='number' name="electricityProduction" required value=container.electricityProduction)
							label(for='electricityProduction') Electricity Production
						input.btn.remove.red.right(type="submit" value = "remove" style="margin-right: 10px")
						input.btn.save.blue.right(type="submit" value = "save" style="margin-right:10px")
						input(type="hidden" name="id" value=container._id)
						input(type="hidden" name="status" value="unchanged")
	form(method="post" class="addRow" action="/admin/containers/new")
		input.btn.left(type="button" id="add" value = "add new container")
		br
		br
		input.btn-large.left(type="submit"  name="submit" value="submit")
				
	
block scripts
	script(src="/js/adminCont.js")