extends layout.pug

block title
	title Craft Africa - Default Values

block header
	h3 Default Values

block content
	form(method="post" action="/admin/defaultvalues" style="padding: 10px 40px 20px 10px")
		.everything
			.card
				.card-content
					span.card-title Ingredient cost
					.defaultCostIngredients
						.input-field.col.s3
							input.validate(type="number" step="any" required name="hops" value=ingredientCost.hops)
							label(for='name') Hops ($)
						.input-field.col.s3
							input.validate(type="number" step="any" required name="barley" value=ingredientCost.barley)
							label(for='name') Barley ($)
						.input-field.col.s3
							input.validate(type="number" step="any" required name="co2" value=ingredientCost.co2)
							label(for='name') CO2 ($)
						.input-field.col.s3
							input.validate(type="number" step="any" required name="water" value=ingredientCost.water)
							label(for='name') Water ($)

			.card
				.card-content
					span.card-title Default Distribution (%) (Must be 100 in total for it to save)
					.defaultDistributionValues
						.input-field.col.s3
							input.validate.hundred.last(type="number" step="any" required name="tapDist" value=defaultDistribution.tapDist)
							label(for='name') Tap (%)
						.input-field.col.s3
							input.validate.hundred(type="number" step="any" required name="bottleDist" value=defaultDistribution.bottleDist)
							label(for='name') Bottle (%)
						.input-field.col.s3
							input.validate.hundred(type="number" step="any" required name="kegDist" value=defaultDistribution.kegDist)
							label(for='name') Keg (%)

			.card
				.card-content
					span.card-title Default Threshhold for Activating Bottle/Keg Containers
					.defaultThreshhold
						.input-field.col.s3
							input.validate(type="number" step="any" required name="bottleThresh" value=defaultThreshold.bottleThresh)
							label(for='name') Bottle
						.input-field.col.s3
							input.validate(type="number" step="any" required name="kegThresh" value=defaultThreshold.kegThresh)
							label(for='name') Keg

			.card
				.card-content
					span.card-title Production Cost (per unit)
					.defaultCostValues
						.input-field.col.s3
							input.validate(type="number" step="any" required name="tapCost" value=productionCost.tapCost)
							label(for='name') Tap ($)
						.input-field.col.s3
							input.validate(type="number" step="any" required name="bottleCost" value=productionCost.bottleCost)
							label(for='name') Bottle ($)
						.input-field.col.s3
							input.validate(type="number" step="any" required name="kegCost" value=productionCost.kegCost)
							label(for='name') Keg ($)

			.card
				.card-content
					span.card-title Fermenting Time
					.defaultSellingValues
						.input-field.col.s3
							input.validate(type="number" step="any" required name="fermentingTime" value=fermentingTime)
							label(for='name') Fermenting Time

			.card
				.card-content
					span.card-title Selling Price (per unit)
					.defaultSellingValues
						.input-field.col.s3
							input.validate(type="number" step="any" required name="tapSell" value=sellingPrice.tapSell)
							label(for='name') Tap ($)
						.input-field.col.s3
							input.validate(type="number" step="any" required name="bottleSell" value=sellingPrice.bottleSell)
							label(for='name') Bottle ($)
						.input-field.col.s3
							input.validate(type="number" step="any" required name="kegSell" value=sellingPrice.kegSell)
							label(for='name') Keg ($)


			.card
				.card-content
					span.card-title Start Value for Production
					.defaultStartValueForProduction
						.input-field.col.s3
							input.validate(type="number" step="any" required name="startValueForProduction" value=startValueForProduction)
							label(for='name') $
							
			input.validate(type="hidden" name="status" value="unchanged")

			br
			input.btn.right.blue(type="submit" disabled=false name="submit" value="Submit")
			br
			br
			br
	
block scripts
	script(src="/js/adminDefaultValues.js")