extends layout.pug

block vars
	- var title = "Statistics"

block title
	title Statistics


block content
	style
		|canvas {
		|	width: 800px;
		|	height: 400px;
		|}
	
	.container
		h3 Calculation form
		hr
		.card
			.card-title
				h4(style="display: inline;") Liters of beer
				p(id='litersDate' style="display: inline; padding-left: 10px;") #{year} #{month}
				div(style="float: right;")
					button(type="button", id="litersPrev").btn Prev
					button(type="button", id="litersNext").btn Next
			.card-content
				canvas(id="litersChart")
		.card
			.card-title
				h4(style="display: inline;") Tap
				p(id='tapDate', style="display: inline; padding-left: 10px;") #{year} #{month}
				div(style="float: right;")
					button(type="button", id="tapPrev").btn Prev
					button(type="button", id="tapNext").btn Next
				
			.card-content
				canvas(id="tapChart")
		.card
			.card-title
				h4(style="display: inline;") Bottle
				p(id='bottleDate', style="display: inline; padding-left: 10px;") #{year} #{month}
				div(style="float: right;")
					button(type="button", id="bottlePrev").btn Prev
					button(type="button", id="bottleNext").btn Next
			.card-content
				canvas(id="bottleChart")
		.card
			.card-title
				h4(style="display: inline;") Keg
				p(id='kegDate', style="display: inline; padding-left: 10px;") #{year} #{month}
				div(style="float: right;")
					button(type="button", id="kegPrev").btn Prev
					button(type="button", id="kegNext").btn Next
			.card-content
				canvas(id="kegChart")
		
		h3 User stats
		hr
		.card
			.card-title
				b Views
			.card-content
				canvas(id="viewsChart")

block scripts
	script(src="/js/admin/statistics.js")
