.logo
	img(src="/images/logo-white.svg" alt="Craft Africa logo")

ul.links
	li
		a(href="/" class=title==='Home'?'active':undefined) Home
	li
		a(href="/product" class=title==='Our Product'?'active':undefined) Our Product
	li
		a(href="/calculationform" class=title==='Build your brand'?'active':undefined) Build your brand
	li
		a(href="/footprint" class=title==='Our footprint'?'active':undefined) Our footprint
	li
		a(href="/about" class=title==='About us'?'active':undefined) About us
	li
		a(href="/contact" class=title==='Contact us'?'active':undefined) Contact us
		//block navlink-contact
			a(href="/contact") Contact us

.hamburger
	span
	span
	span
	span
