extends layout.pug

block title
	title Craft Africa - Edit Containers

block header
	h1 Edit Containers

block content
	form(method="post" action="/admin/calculationform/container" id="foo")
		each container in containers
			.row
				input(type="text" class="textbox" name="name" value=container.name)
				input(type="text" class="textbox" name="type" value=container.type)
				input(type="text" class="textbox" name="price" value=container.price)
				input(type="text" class="textbox" name="size" value=container.size)
				input(type="button" class="remove" value = "-")
				input(type="hidden" name="id" value=container.id)
				input(type="hidden" name="status" value="unchanged")
		input(type="button" id="add" value = "+")
		br
		input(type="submit" id="submit")
	
block scripts
	script(src="/js/adminCont.js")